In [1]:
import pandas as pd

In [3]:
path = "../Resources/loan.csv"

df = pd.read_csv(path)
df.head()

C:\Users\danie\AppData\Local\Temp\ipykernel_21008\1490347542.py:3: DtypeWarning: Columns (19,55) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(path)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,1077501,1296599,5000.0,5000.0,4975.0,36 months,10.65,162.87,B,B2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1077430,1314167,2500.0,2500.0,2500.0,60 months,15.27,59.83,C,C4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1077175,1313524,2400.0,2400.0,2400.0,36 months,15.96,84.33,C,C5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1076863,1277178,10000.0,10000.0,10000.0,36 months,13.49,339.31,C,C1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1075358,1311748,3000.0,3000.0,3000.0,60 months,12.69,67.79,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 887379 entries, 0 to 887378
Data columns (total 74 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   id                           887379 non-null  int64
 1   member_id                    887379 non-null  int64
 2   loan_amnt                    887379 non-null  float64
 3   funded_amnt                  887379 non-null  float64
 4   funded_amnt_inv              887379 non-null  float64
 5   term                         887379 non-null  object
 6   int_rate                     887379 non-null  float64
 7   installment                  887379 non-null  float64
 8   grade                        887379 non-null  object
 9   sub_grade                    887379 non-null  object
 10  emp_title                    835917 non-null  object
 11  emp_length                   842554 non-null  object
 12  home_ownership               887379 non-null  object
 13  annual_inc                   887375 non-null  float64
 14  verification_status          887379 non-null  object
 15  issue_d                      887379 non-null  object
 16  loan_status                  887379 non-null  object
 17  pymnt_plan                   887379 non-null  object
 18  url                          887379 non-null  object
 19  desc                         126028 non-null  object
 20  purpose                      887379 non-null  object
 21  title                        887227 non-null  object
 22  zip_code                     887379 non-null  object
 23  addr_state                   887379 non-null  object
 24  dti                          887379 non-null  float64
 25  delinq_2yrs                  887350 non-null  float64
 26  earliest_cr_line             887350 non-null  object
 27  inq_last_6mths               887350 non-null  float64
 28  mths_since_last_delinq       433067 non-null  float64
 29  mths_since_last_record       137053 non-null  float64
 30  open_acc                     887350 non-null  float64
 31  pub_rec                      887350 non-null  float64
 32  revol_bal                    887379 non-null  float64
 33  revol_util                   886877 non-null  float64
 34  total_acc                    887350 non-null  float64
 35  initial_list_status          887379 non-null  object
 36  out_prncp                    887379 non-null  float64
 37  out_prncp_inv                887379 non-null  float64
 38  total_pymnt                  887379 non-null  float64
 39  total_pymnt_inv              887379 non-null  float64
 40  total_rec_prncp              887379 non-null  float64
 41  total_rec_int                887379 non-null  float64
 42  total_rec_late_fee           887379 non-null  float64
 43  recoveries                   887379 non-null  float64
 44  collection_recovery_fee      887379 non-null  float64
 45  last_pymnt_d                 869720 non-null  object
 46  last_pymnt_amnt              887379 non-null  float64
 47  next_pymnt_d                 634408 non-null  object
 48  last_credit_pull_d           887326 non-null  object
 49  collections_12_mths_ex_med   887234 non-null  float64
 50  mths_since_last_major_derog  221703 non-null  float64
 51  policy_code                  887379 non-null  float64
 52  application_type             887379 non-null  object
 53  annual_inc_joint             511 non-null     float64
 54  dti_joint                    509 non-null     float64
 55  verification_status_joint    511 non-null     object
 56  acc_now_delinq               887350 non-null  float64
 57  tot_coll_amt                 817103 non-null  float64
 58  tot_cur_bal                  817103 non-null  float64
 59  open_acc_6m                  21372 non-null   float64
 60  open_il_6m                   21372 non-null   float64
 61  open_il_12m                  21372 non-null   float64
 62  open_il_24m                  21372 non-null   float64
 63  mths_since_rcnt_il           20810 non-null   float64
 64  total_bal_il                 21372 non-null   float64
 65  il_util                      18617 non-null   float64
 66  open_rv_12m                  21372 non-null   float64
 67  open_rv_24m                  21372 non-null   float64
 68  max_bal_bc                   21372 non-null   float64
 69  all_util                     21372 non-null   float64
 70  total_rev_hi_lim             817103 non-null  float64
 71  inq_fi                       21372 non-null   float64
 72  total_cu_tl                  21372 non-null   float64
 73  inq_last_12m                 21372 non-null   float64
dtypes: float64(49), int64(2), object(23)
memory usage: 501.0+ MB

In [5]:
# We can see that columns:

# annual_inc_joint
# dti_joint
# verification_status_joint
# open_acc_6m
# open_il_6m
# open_il_12m
# open_il_24m
# mths_since_rcnt_il
# total_bal_il
# il_util
# open_rv_12m
# open_rv_24m
# max_bal_bc
# all_util
# inq_fi
# total_cu_tl
# inq_last_12m
# has few non-null values and probably can be removed from the dataset. 

# These contain less that 20% of the data and could be removed from the dataset
# desc
# mths_since_last_record

In [18]:
for column in df.columns:
    print("\n------------------------------------------------")
    print("\ncolumn name: " + column + "\n")
    print("------------------------------------------------\n")
    print(df[column].describe())

------------------------------------------------

column name: id

------------------------------------------------

count    8.873790e+05
mean     3.246513e+07
std      2.282734e+07
min      5.473400e+04
25%      9.206643e+06
50%      3.443327e+07
75%      5.490814e+07
max      6.861706e+07
Name: id, dtype: float64

------------------------------------------------

column name: member_id

------------------------------------------------

count    8.873790e+05
mean     3.500182e+07
std      2.411335e+07
min      7.047300e+04
25%      1.087713e+07
50%      3.709528e+07
75%      5.847135e+07
max      7.354484e+07
Name: member_id, dtype: float64

------------------------------------------------

column name: loan_amnt

------------------------------------------------

count    887379.000000
mean      14755.264605
std        8435.455601
min         500.000000
25%        8000.000000
50%       13000.000000
75%       20000.000000
max       35000.000000
Name: loan_amnt, dtype: float64

------------------------------------------------

column name: funded_amnt

------------------------------------------------

count    887379.000000
mean      14741.877625
std        8429.897657
min         500.000000
25%        8000.000000
50%       13000.000000
75%       20000.000000
max       35000.000000
Name: funded_amnt, dtype: float64

------------------------------------------------

column name: funded_amnt_inv

------------------------------------------------

count    887379.000000
mean      14702.464383
std        8442.106732
min           0.000000
25%        8000.000000
50%       13000.000000
75%       20000.000000
max       35000.000000
Name: funded_amnt_inv, dtype: float64

------------------------------------------------

column name: term

------------------------------------------------

count         887379
unique             2
top        36 months
freq          621125
Name: term, dtype: object

------------------------------------------------

column name: int_rate

------------------------------------------------

count    887379.000000
mean         13.246740
std           4.381867
min           5.320000
25%           9.990000
50%          12.990000
75%          16.200000
max          28.990000
Name: int_rate, dtype: float64

------------------------------------------------

column name: installment

------------------------------------------------

count    887379.000000
mean        436.717127
std         244.186593
min          15.670000
25%         260.705000
50%         382.550000
75%         572.600000
max        1445.460000
Name: installment, dtype: float64

------------------------------------------------

column name: grade

------------------------------------------------

count     887379
unique         7
top            B
freq      254535
Name: grade, dtype: object

------------------------------------------------

column name: sub_grade

------------------------------------------------

count     887379
unique        35
top           B3
freq       56323
Name: sub_grade, dtype: object

------------------------------------------------

column name: emp_title

------------------------------------------------

count      835917
unique     299271
top       Teacher
freq        13469
Name: emp_title, dtype: object

------------------------------------------------

column name: emp_length

------------------------------------------------

count        842554
unique           11
top       10+ years
freq         291569
Name: emp_length, dtype: object

------------------------------------------------

column name: home_ownership

------------------------------------------------

count       887379
unique           6
top       MORTGAGE
freq        443557
Name: home_ownership, dtype: object

------------------------------------------------

column name: annual_inc

------------------------------------------------

count    8.873750e+05
mean     7.502759e+04
std      6.469830e+04
min      0.000000e+00
25%      4.500000e+04
50%      6.500000e+04
75%      9.000000e+04
max      9.500000e+06
Name: annual_inc, dtype: float64

------------------------------------------------

column name: verification_status

------------------------------------------------

count              887379
unique                  3
top       Source Verified
freq               329558
Name: verification_status, dtype: object

------------------------------------------------

column name: issue_d

------------------------------------------------

count       887379
unique         103
top       Oct-2015
freq         48631
Name: issue_d, dtype: object

------------------------------------------------

column name: loan_status

------------------------------------------------

count      887379
unique         10
top       Current
freq       601779
Name: loan_status, dtype: object

------------------------------------------------

column name: pymnt_plan

------------------------------------------------

count     887379
unique         2
top            n
freq      887369
Name: pymnt_plan, dtype: object

------------------------------------------------

column name: url

------------------------------------------------

count                                                887379
unique                                               887379
top       https://www.lendingclub.com/browse/loanDetail....
freq                                                      1
Name: url, dtype: object

------------------------------------------------

column name: desc

------------------------------------------------

count     126028
unique    124469
top
freq         246
Name: desc, dtype: object

------------------------------------------------

column name: purpose

------------------------------------------------

count                 887379
unique                    14
top       debt_consolidation
freq                  524215
Name: purpose, dtype: object

------------------------------------------------

column name: title

------------------------------------------------

count                 887227
unique                 63144
top       Debt consolidation
freq                  414001
Name: title, dtype: object

------------------------------------------------

column name: zip_code

------------------------------------------------

count     887379
unique       935
top        945xx
freq        9770
Name: zip_code, dtype: object

------------------------------------------------

column name: addr_state

------------------------------------------------

count     887379
unique        51
top           CA
freq      129517
Name: addr_state, dtype: object

------------------------------------------------

column name: dti

------------------------------------------------

count    887379.000000
mean         18.157039
std          17.190626
min           0.000000
25%          11.910000
50%          17.650000
75%          23.950000
max        9999.000000
Name: dti, dtype: float64

------------------------------------------------

column name: delinq_2yrs

------------------------------------------------

count    887350.000000
mean          0.314442
std           0.862244
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max          39.000000
Name: delinq_2yrs, dtype: float64

------------------------------------------------

column name: earliest_cr_line

------------------------------------------------

count       887350
unique         697
top       Aug-2001
freq          6659
Name: earliest_cr_line, dtype: object

------------------------------------------------

column name: inq_last_6mths

------------------------------------------------

count    887350.000000
mean          0.694623
std           0.998448
min           0.000000
25%           0.000000
50%           0.000000
75%           1.000000
max          33.000000
Name: inq_last_6mths, dtype: float64

------------------------------------------------

column name: mths_since_last_delinq

------------------------------------------------

count    433067.000000
mean         34.063798
std          21.884940
min           0.000000
25%          15.000000
50%          31.000000
75%          50.000000
max         188.000000
Name: mths_since_last_delinq, dtype: float64

------------------------------------------------

column name: mths_since_last_record

------------------------------------------------

count    137053.000000
mean         70.117903
std          28.127914
min           0.000000
25%          51.000000
50%          70.000000
75%          92.000000
max         129.000000
Name: mths_since_last_record, dtype: float64

------------------------------------------------

column name: open_acc

------------------------------------------------

count    887350.000000
mean         11.548469
std           5.317313
min           0.000000
25%           8.000000
50%          11.000000
75%          14.000000
max          90.000000
Name: open_acc, dtype: float64

------------------------------------------------

column name: pub_rec

------------------------------------------------

count    887350.000000
mean          0.195307
std           0.582091
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max          86.000000
Name: pub_rec, dtype: float64

------------------------------------------------

column name: revol_bal

------------------------------------------------

count    8.873790e+05
mean     1.692079e+04
std      2.242679e+04
min      0.000000e+00
25%      6.443000e+03
50%      1.187500e+04
75%      2.082900e+04
max      2.904836e+06
Name: revol_bal, dtype: float64

------------------------------------------------

column name: revol_util

------------------------------------------------

count    886877.000000
mean         55.067693
std          23.834344
min           0.000000
25%          37.700000
50%          56.000000
75%          73.600000
max         892.300000
Name: revol_util, dtype: float64

------------------------------------------------

column name: total_acc

------------------------------------------------

count    887350.000000
mean         25.268026
std          11.840561
min           1.000000
25%          17.000000
50%          24.000000
75%          32.000000
max         169.000000
Name: total_acc, dtype: float64

------------------------------------------------

column name: initial_list_status

------------------------------------------------

count     887379
unique         2
top            f
freq      456848
Name: initial_list_status, dtype: object

------------------------------------------------

column name: out_prncp

------------------------------------------------

count    887379.000000
mean       8403.124852
std        8493.450269
min           0.000000
25%           0.000000
50%        6458.290000
75%       13659.055000
max       49372.860000
Name: out_prncp, dtype: float64

------------------------------------------------

column name: out_prncp_inv

------------------------------------------------

count    887379.000000
mean       8399.713242
std        8489.997617
min           0.000000
25%           0.000000
50%        6455.810000
75%       13654.050000
max       49372.860000
Name: out_prncp_inv, dtype: float64

------------------------------------------------

column name: total_pymnt

------------------------------------------------

count    887379.000000
mean       7558.826684
std        7871.243336
min           0.000000
25%        1914.590000
50%        4894.999117
75%       10616.814231
max       57777.579870
Name: total_pymnt, dtype: float64

------------------------------------------------

column name: total_pymnt_inv

------------------------------------------------

count    887379.000000
mean       7521.160306
std        7846.108604
min           0.000000
25%        1899.700000
50%        4862.010000
75%       10565.690000
max       57777.580000
Name: total_pymnt_inv, dtype: float64

------------------------------------------------

column name: total_rec_prncp

------------------------------------------------

count    887379.000000
mean       5757.706424
std        6625.441046
min           0.000000
25%        1200.570000
50%        3215.320000
75%        8000.000000
max       35000.030000
Name: total_rec_prncp, dtype: float64

------------------------------------------------

column name: total_rec_int

------------------------------------------------

count    887379.000000
mean       1754.804327
std        2095.356099
min           0.000000
25%         441.460000
50%        1073.280000
75%        2238.265000
max       24205.620000
Name: total_rec_int, dtype: float64

------------------------------------------------

column name: total_rec_late_fee

------------------------------------------------

count    887379.000000
mean          0.396692
std           4.087825
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max         358.680000
Name: total_rec_late_fee, dtype: float64

------------------------------------------------

column name: recoveries

------------------------------------------------

count    887379.000000
mean         45.919243
std         409.693874
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max       33520.270000
Name: recoveries, dtype: float64

------------------------------------------------

column name: collection_recovery_fee

------------------------------------------------

count    887379.000000
mean          4.880757
std          63.125281
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max        7002.190000
Name: collection_recovery_fee, dtype: float64

------------------------------------------------

column name: last_pymnt_d

------------------------------------------------

count       869720
unique          98
top       Jan-2016
freq        470150
Name: last_pymnt_d, dtype: object

------------------------------------------------

column name: last_pymnt_amnt

------------------------------------------------

count    887379.000000
mean       2164.145585
std        4794.783233
min           0.000000
25%         280.170000
50%         462.780000
75%         831.245000
max       36475.590000
Name: last_pymnt_amnt, dtype: float64

------------------------------------------------

column name: next_pymnt_d

------------------------------------------------

count       634408
unique         100
top       Feb-2016
freq        553406
Name: next_pymnt_d, dtype: object

------------------------------------------------

column name: last_credit_pull_d

------------------------------------------------

count       887326
unique         103
top       Jan-2016
freq        730574
Name: last_credit_pull_d, dtype: object

------------------------------------------------

column name: collections_12_mths_ex_med

------------------------------------------------

count    887234.000000
mean          0.014380
std           0.134191
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max          20.000000
Name: collections_12_mths_ex_med, dtype: float64

------------------------------------------------

column name: mths_since_last_major_derog

------------------------------------------------

count    221703.000000
mean         44.104838
std          22.179841
min           0.000000
25%          27.000000
50%          44.000000
75%          61.000000
max         188.000000
Name: mths_since_last_major_derog, dtype: float64

------------------------------------------------

column name: policy_code

------------------------------------------------

count    887379.0
mean          1.0
std           0.0
min           1.0
25%           1.0
50%           1.0
75%           1.0
max           1.0
Name: policy_code, dtype: float64

------------------------------------------------

column name: application_type

------------------------------------------------

count         887379
unique             2
top       INDIVIDUAL
freq          886868
Name: application_type, dtype: object

------------------------------------------------

column name: annual_inc_joint

------------------------------------------------

count       511.000000
mean     109981.011585
std       52730.379847
min       17950.000000
25%       76032.500000
50%      101771.000000
75%      132800.000000
max      500000.000000
Name: annual_inc_joint, dtype: float64

------------------------------------------------

column name: dti_joint

------------------------------------------------

count    509.000000
mean      18.310118
std        7.169233
min        3.000000
25%       13.200000
50%       17.610000
75%       22.650000
max       43.860000
Name: dti_joint, dtype: float64

------------------------------------------------

column name: verification_status_joint

------------------------------------------------

count              511
unique               3
top       Not Verified
freq               283
Name: verification_status_joint, dtype: object

------------------------------------------------

column name: acc_now_delinq

------------------------------------------------

count    887350.000000
mean          0.004991
std           0.077625
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max          14.000000
Name: acc_now_delinq, dtype: float64

------------------------------------------------

column name: tot_coll_amt

------------------------------------------------

count    8.171030e+05
mean     2.257026e+02
std      1.031137e+04
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      9.152545e+06
Name: tot_coll_amt, dtype: float64

------------------------------------------------

column name: tot_cur_bal

------------------------------------------------

count    8.171030e+05
mean     1.394582e+05
std      1.537500e+05
min      0.000000e+00
25%      2.985300e+04
50%      8.055900e+04
75%      2.082050e+05
max      8.000078e+06
Name: tot_cur_bal, dtype: float64

------------------------------------------------

column name: open_acc_6m

------------------------------------------------

count    21372.000000
mean         1.109021
std          1.242675
min          0.000000
25%          0.000000
50%          1.000000
75%          2.000000
max         14.000000
Name: open_acc_6m, dtype: float64

------------------------------------------------

column name: open_il_6m

------------------------------------------------

count    21372.000000
mean         2.928832
std          3.089987
min          0.000000
25%          1.000000
50%          2.000000
75%          4.000000
max         40.000000
Name: open_il_6m, dtype: float64

------------------------------------------------

column name: open_il_12m

------------------------------------------------

count    21372.000000
mean         0.761651
std          0.996035
min          0.000000
25%          0.000000
50%          0.000000
75%          1.000000
max         12.000000
Name: open_il_12m, dtype: float64

------------------------------------------------

column name: open_il_24m

------------------------------------------------

count    21372.000000
mean         1.674574
std          1.688725
min          0.000000
25%          0.000000
50%          1.000000
75%          2.000000
max         19.000000
Name: open_il_24m, dtype: float64

------------------------------------------------

column name: mths_since_rcnt_il

------------------------------------------------

count    20810.000000
mean        20.912686
std         27.209081
min          0.000000
25%          6.000000
50%         12.000000
75%         23.000000
max        363.000000
Name: mths_since_rcnt_il, dtype: float64

------------------------------------------------

column name: total_bal_il

------------------------------------------------

count     21372.000000
mean      36552.811389
std       43103.833619

In [20]:
df.sort_values(['loan_amnt','grade'], ascending=[False, True]).head(20)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
128,1068159,1302729,35000.0,35000.0,35000.000000,36 months,8.9,1111.37,A,A5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
276,1065896,1300036,35000.0,35000.0,35000.000000,36 months,8.9,1111.37,A,A5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
611,1056174,1287750,35000.0,35000.0,35000.000000,36 months,8.9,1111.37,A,A5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
964,1054438,1286069,35000.0,35000.0,35000.000000,36 months,8.9,1111.37,A,A5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1256,1053569,1285157,35000.0,35000.0,35000.000000,36 months,8.9,1111.37,A,A5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1352,1049941,1281351,35000.0,35000.0,35000.000000,36 months,7.9,1095.16,A,A4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1533,1049279,1280492,35000.0,35000.0,34950.000000,36 months,8.9,1111.37,A,A5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1990,1042402,1265666,35000.0,35000.0,34200.000000,36 months,7.9,1095.16,A,A4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2930,1029488,1258856,35000.0,35000.0,35000.000000,36 months,8.9,1111.37,A,A5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2968,1028819,1258172,35000.0,35000.0,35000.000000,36 months,7.9,1095.16,A,A4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3010,1019275,1247957,35000.0,35000.0,34700.000000,36 months,7.9,1095.16,A,A4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3018,1026271,1255433,35000.0,35000.0,34775.000000,36 months,7.9,1095.16,A,A4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3137,1019123,1247808,35000.0,35000.0,35000.000000,36 months,7.9,1095.16,A,A4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3218,683110,872393,35000.0,35000.0,35000.000000,36 months,7.9,1095.16,A,A4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3257,1022314,1251092,35000.0,35000.0,34975.000000,36 months,8.9,1111.37,A,A5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3374,1019887,1248645,35000.0,35000.0,34993.655386,36 months,7.9,1095.16,A,A4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4295,1005168,1231642,35000.0,35000.0,34750.000000,36 months,7.9,1095.16,A,A4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4651,991910,1216187,35000.0,35000.0,35000.000000,36 months,8.9,1111.37,A,A5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4853,996294,1221119,35000.0,35000.0,35000.000000,36 months,7.9,1095.16,A,A4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5081,991636,1216049,35000.0,35000.0,35000.000000,36 months,7.9,1095.16,A,A4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
df['loan_amnt'].value_counts()

10000.0    61837
12000.0    50183
15000.0    47210
20000.0    46932
35000.0    36368
           ...
550.0          1
925.0          1
750.0          1
725.0          1
950.0          1
Name: loan_amnt, Length: 1372, dtype: int64

In [22]:
df['grade'].value_counts()

B    254535
C    245860
A    148202
D    139542
E     70705
F     23046
G      5489
Name: grade, dtype: int64

In [23]:
df['sub_grade'].value_counts()

B3    56323
B4    55626
C1    53387
C2    52236
C3    50161
C4    48857
B5    48833
B2    48781
B1    44972
A5    44816
C5    41219
D1    36238
A4    34531
D2    29803
D3    26554
D4    25558
A3    23457
A1    22913
A2    22485
D5    21389
E1    18268
E2    17004
E3    14134
E4    11724
E5     9575
F1     7218
F2     5392
F3     4433
F4     3409
F5     2594
G1     1871
G2     1398
G3      981
G4      663
G5      576
Name: sub_grade, dtype: int64

In [24]:
df.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_title',
       'emp_length', 'home_ownership', 'annual_inc', 'verification_status',
       'issue_d', 'loan_status', 'pymnt_plan', 'url', 'desc', 'purpose',
       'title', 'zip_code', 'addr_state', 'dti', 'delinq_2yrs',
       'earliest_cr_line', 'inq_last_6mths', 'mths_since_last_delinq',
       'mths_since_last_record', 'open_acc', 'pub_rec', 'revol_bal',
       'revol_util', 'total_acc', 'initial_list_status', 'out_prncp',
       'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp',
       'total_rec_int', 'total_rec_late_fee', 'recoveries',
       'collection_recovery_fee', 'last_pymnt_d', 'last_pymnt_amnt',
       'next_pymnt_d', 'last_credit_pull_d', 'collections_12_mths_ex_med',
       'mths_since_last_major_derog', 'policy_code', 'application_type',
       'annual_inc_joint', 'dti_joint', 'verification_status_joint',
       'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', 'open_acc_6m',
       'open_il_6m', 'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il',
       'total_bal_il', 'il_util', 'open_rv_12m', 'open_rv_24m', 'max_bal_bc',
       'all_util', 'total_rev_hi_lim', 'inq_fi', 'total_cu_tl',
       'inq_last_12m'],
      dtype='object')

In [25]:
for column in df.columns:
    print("\n------------------------------------------------")
    print("\ncolumn name: " + column + "\n")
    print("------------------------------------------------\n")
    print(df[column].value_counts())

------------------------------------------------

column name: id

------------------------------------------------

1077501     1
59561165    1
61448183    1
61408303    1
60964818    1
           ..
28983843    1
28933642    1
28913676    1
28933755    1
36271262    1
Name: id, Length: 887379, dtype: int64

------------------------------------------------

column name: member_id

------------------------------------------------

1296599     1
63494885    1
65566896    1
65527018    1
65006696    1
           ..
31507047    1
31456838    1
31436866    1
31456960    1
38982659    1
Name: member_id, Length: 887379, dtype: int64

------------------------------------------------

column name: loan_amnt

------------------------------------------------

10000.0    61837
12000.0    50183
15000.0    47210
20000.0    46932
35000.0    36368
           ...
550.0          1
925.0          1
750.0          1
725.0          1
950.0          1
Name: loan_amnt, Length: 1372, dtype: int64

------------------------------------------------

column name: funded_amnt

------------------------------------------------

10000.0    61744
12000.0    50090
15000.0    47094
20000.0    46744
35000.0    36230
           ...
850.0          1
925.0          1
750.0          1
950.0          1
550.0          1
Name: funded_amnt, Length: 1372, dtype: int64

------------------------------------------------

column name: funded_amnt_inv

------------------------------------------------

10000.000000    56111
12000.000000    44899
15000.000000    41566
20000.000000    40188
35000.000000    29563
                ...
5643.771602         1
14330.845805        1
6272.511740         1
3850.917826         1
14951.098931        1
Name: funded_amnt_inv, Length: 9856, dtype: int64

------------------------------------------------

column name: term

------------------------------------------------

 36 months    621125
 60 months    266254
Name: term, dtype: int64

------------------------------------------------

column name: int_rate

------------------------------------------------

10.99    34624
9.17     25720
15.61    25201
9.99     21553
7.89     20311
         ...
18.72        1
24.59        1
22.64        1
14.28        1
17.44        1
Name: int_rate, Length: 542, dtype: int64

------------------------------------------------

column name: installment

------------------------------------------------

327.34     2610
318.79     2142
491.01     1785
392.81     1775
312.86     1619
           ...
974.08        1
1046.36       1
579.98        1
584.83        1
237.86        1
Name: installment, Length: 68711, dtype: int64

------------------------------------------------

column name: grade

------------------------------------------------

B    254535
C    245860
A    148202
D    139542
E     70705
F     23046
G      5489
Name: grade, dtype: int64

------------------------------------------------

column name: sub_grade

------------------------------------------------

B3    56323
B4    55626
C1    53387
C2    52236
C3    50161
C4    48857
B5    48833
B2    48781
B1    44972
A5    44816
C5    41219
D1    36238
A4    34531
D2    29803
D3    26554
D4    25558
A3    23457
A1    22913
A2    22485
D5    21389
E1    18268
E2    17004
E3    14134
E4    11724
E5     9575
F1     7218
F2     5392
F3     4433
F4     3409
F5     2594
G1     1871
G2     1398
G3      981
G4      663
G5      576
Name: sub_grade, dtype: int64

------------------------------------------------

column name: emp_title

------------------------------------------------

Teacher                                     13469
Manager                                     11240
Registered Nurse                             5525
Owner                                        5376
RN                                           5355
                                            ...
Thomas J. Paul, Inc.                            1
Piggie Toes Preschool                           1
greystone park psychiatric hospital             1
Las Vegas Motropolitan Police Department        1
Manager Hotel Operations Oasis                  1
Name: emp_title, Length: 299271, dtype: int64

------------------------------------------------

column name: emp_length

------------------------------------------------

10+ years    291569
2 years       78870
< 1 year      70605
3 years       70026
1 year        57095
5 years       55704
4 years       52529
7 years       44594
8 years       43955
6 years       42950
9 years       34657
Name: emp_length, dtype: int64

------------------------------------------------

column name: home_ownership

------------------------------------------------

MORTGAGE    443557
RENT        356117
OWN          87470
OTHER          182
NONE            50
ANY              3
Name: home_ownership, dtype: int64

------------------------------------------------

column name: annual_inc

------------------------------------------------

60000.0     34281
50000.0     30575
65000.0     25498
70000.0     24121
40000.0     23943
            ...
128922.0        1
63790.0         1
484000.0        1
44456.0         1
63078.0         1
Name: annual_inc, Length: 49384, dtype: int64

------------------------------------------------

column name: verification_status

------------------------------------------------

Source Verified    329558
Verified           291071
Not Verified       266750
Name: verification_status, dtype: int64

------------------------------------------------

column name: issue_d

------------------------------------------------

Oct-2015    48631
Jul-2015    45962
Dec-2015    44342
Oct-2014    38782
Nov-2015    37530
            ...
Aug-2007       74
Jul-2007       63
Sep-2008       57
Sep-2007       53
Jun-2007       24
Name: issue_d, Length: 103, dtype: int64

------------------------------------------------

column name: loan_status

------------------------------------------------

Current                                                601779
Fully Paid                                             207723
Charged Off                                             45248
Late (31-120 days)                                      11591
Issued                                                   8460
In Grace Period                                          6253
Late (16-30 days)                                        2357
Does not meet the credit policy. Status:Fully Paid       1988
Default                                                  1219
Does not meet the credit policy. Status:Charged Off       761
Name: loan_status, dtype: int64

------------------------------------------------

column name: pymnt_plan

------------------------------------------------

n    887369
y        10
Name: pymnt_plan, dtype: int64

------------------------------------------------

column name: url

------------------------------------------------

https://www.lendingclub.com/browse/loanDetail.action?loan_id=1077501     1
https://www.lendingclub.com/browse/loanDetail.action?loan_id=59561165    1
https://www.lendingclub.com/browse/loanDetail.action?loan_id=61448183    1
https://www.lendingclub.com/browse/loanDetail.action?loan_id=61408303    1
https://www.lendingclub.com/browse/loanDetail.action?loan_id=60964818    1
                                                                        ..
https://www.lendingclub.com/browse/loanDetail.action?loan_id=28983843    1
https://www.lendingclub.com/browse/loanDetail.action?loan_id=28933642    1
https://www.lendingclub.com/browse/loanDetail.action?loan_id=28913676    1
https://www.lendingclub.com/browse/loanDetail.action?loan_id=28933755    1
https://www.lendingclub.com/browse/loanDetail.action?loan_id=36271262    1
Name: url, Length: 887379, dtype: int64

------------------------------------------------

column name: desc

------------------------------------------------

                                                                                                                                                                                                                                                                                                                                                                       246
Debt Consolidation                                                                                                                                                                                                                                                                                                                                                      13
  Borrower added on 03/17/14 > Debt consolidation<br>                                                                                                                                                                                                                                                                                                                   11
  Borrower added on 03/10/14 > Debt consolidation<br>                                                                                                                                                                                                                                                                                                                   10
  Borrower added on 02/19/14 > Debt consolidation<br>                                                                                                                                                                                                                                                                                                                    9
                                                                                                                                                                                                                                                                                                                                                                      ...
  Borrower added on 09/24/13 > I have a high deductible Health Insurance Plan and would like to pay-off our existing medical debt as well as pay-off two auto loans and some additional unsecured credit. I prefer to have a planed repayment plan with the ability to pay down on the principal balance as cash flow permits.<br>                                       1
  Borrower added on 09/24/13 > My son just graduated and is needing a place to live in Washington State I am requesting the money to help him till he gets his first paycheck.<br>                                                                                                                                                                                       1
  Borrower added on 09/24/13 > About 10 years ago my credit was a mess.  I borrowed from everyone and had little thought about how I would pay it back as long as I made the minimum payment.  I have a more stable life, job, and general situation now, but still have these reminders from my past.   It is time to retire them.<br>                                  1
  Borrower added on 09/24/13 > This loan will be used to consolidate my credit cards in an effort to pay them off sooner than later.<br>                                                                                                                                                                                                                                 1
I am in my senior year of college in obtaining a bachelors degree in criminal justice.  I do not qualify for financial aid and have used all stafford loans available.  My tuition is approx. $1200 a month and I have 10 courses left which adds up to over $10,000.  I need some assistance to cover my tuition until my graduation date which is August of 2009.      1
Name: desc, Length: 124469, dtype: int64

------------------------------------------------

column name: purpose

------------------------------------------------

debt_consolidation    524215
credit_card           206182
home_improvement       51829
other                  42894
major_purchase         17277
small_business         10377
car                     8863
medical                 8540
moving                  5414
vacation                4736
house                   3707
wedding                 2347
renewable_energy         575
educational              423
Name: purpose, dtype: int64

------------------------------------------------

column name: title

------------------------------------------------

Debt consolidation                     414001
Credit card refinancing                164331
Home improvement                        40112
Other                                   31892
Debt Consolidation                      15760
                                        ...
New Heater                                  1
Looking to get out of debt                  1
Debt Conso/Pay off initial LC loan          1
Emergency Home Repair                       1
Credit Card/Auto Repair                     1
Name: title, Length: 63144, dtype: int64

------------------------------------------------

column name: zip_code

------------------------------------------------

945xx    9770
750xx    9417
112xx    9272
606xx    8641
300xx    8126
         ...
569xx       1
348xx       1
819xx       1
375xx       1
507xx       1
Name: zip_code, Length: 935, dtype: int64

------------------------------------------------

column name: addr_state

------------------------------------------------

CA    129517
NY     74086
TX     71138
FL     60935
IL     35476
NJ     33256
PA     31393
OH     29631
GA     29085
VA     26255
NC     24720
MI     22985
MD     21031
MA     20593
AZ     20412
WA     19434
CO     18807
MN     15957
MO     14207
IN     13789
CT     13531
TN     12887
NV     12443
WI     11574
AL     11200
OR     10893
SC     10639
LA     10587
KY      8550
OK      8085
KS      7926
AR      6640
UT      6264
NM      4939
HI      4570
WV      4386
NH      4294
RI      3893
MS      3819
MT      2558
DE      2511
DC      2432
AK      2205
WY      2028
SD      1815
VT      1797
NE      1176
ME       525
ND       479
IA        14
ID        12
Name: addr_state, dtype: int64

------------------------------------------------

column name: dti

------------------------------------------------

19.20    684
14.40    674
18.00    661
13.20    638
16.80    632
        ...
40.56      1
45.78      1
45.58      1
46.67      1
59.19      1
Name: dti, Length: 4086, dtype: int64

------------------------------------------------

column name: delinq_2yrs

------------------------------------------------

0.0     716961
1.0     113224
2.0      33551
3.0      11977
4.0       5327
5.0       2711
6.0       1471
7.0        784
8.0        461
9.0        284
10.0       192
11.0       121
12.0        89
13.0        64
14.0        45
15.0        28
16.0        17
18.0        11
17.0        10
19.0         8
22.0         3
21.0         2
26.0         2
20.0         2
29.0         1
24.0         1
30.0         1
27.0         1
39.0         1
Name: delinq_2yrs, dtype: int64

------------------------------------------------

column name: earliest_cr_line

------------------------------------------------

Aug-2001    6659
Aug-2000    6529
Oct-2000    6322
Oct-2001    6154
Aug-2002    6086
            ...
Jun-1949       1
Oct-1950       1
Jan-1948       1
Jul-1961       1
Apr-1958       1
Name: earliest_cr_line, Length: 697, dtype: int64

------------------------------------------------

column name: inq_last_6mths

------------------------------------------------

0.0     497905
1.0     241494
2.0      94117
3.0      37398
4.0      10758
5.0       3985
6.0       1231
7.0        195
8.0        122
9.0         50
10.0        24
11.0        15
12.0        15
15.0         9
13.0         6
14.0         6
18.0         4
16.0         3
17.0         2
24.0         2
19.0         2
32.0         1
33.0         1
31.0         1
28.0         1
25.0         1
27.0         1
20.0         1
Name: inq_last_6mths, dtype: int64

------------------------------------------------

column name: mths_since_last_delinq

------------------------------------------------

9.0      8591
6.0      8470
12.0     8368
8.0      8335
13.0     8318
         ...
180.0       1
136.0       1
124.0       1
143.0       1
137.0       1
Name: mths_since_last_delinq, Length: 155, dtype: int64

------------------------------------------------

column name: mths_since_last_record

------------------------------------------------

61.0     1964
62.0     1919
71.0     1917
67.0     1917
69.0     1914
         ...
1.0        71
2.0        63
120.0       9
121.0       2
129.0       1
Name: mths_since_last_record, Length: 123, dtype: int64

------------------------------------------------

column name: open_acc

------------------------------------------------

9.0     80285
10.0    78321
8.0     76578
11.0    72265
7.0     67896
        ...
57.0        1
67.0        1
65.0        1
75.0        1
90.0        1
Name: open_acc, Length: 77, dtype: int64

------------------------------------------------

column name: pub_rec

------------------------------------------------

0.0     751572
1.0     113266
2.0      14854
3.0       4487
4.0       1564
5.0        757
6.0        385
7.0        170
8.0        113
9.0         50
10.0        42
11.0        23
12.0        16
13.0        12
15.0         6
18.0         5
16.0         5
21.0         4
17.0         3
19.0         2
14.0         2
49.0         2
40.0         1
63.0         1
54.0         1
34.0         1
23.0         1
26.0         1
28.0         1
20.0         1
86.0         1
22.0         1
Name: pub_rec, dtype: int64

------------------------------------------------

column name: revol_bal

------------------------------------------------

0.0         3402
5235.0        74
5466.0        72
4479.0        68
8696.0        67
            ...
63825.0        1
50651.0        1
143395.0       1
71192.0        1
75645.0        1
Name: revol_bal, Length: 73740, dtype: int64

------------------------------------------------

column name: revol_util

------------------------------------------------

0.00      3540
58.00     1780
53.00     1766
59.00     1765
61.00     1757
          ...
30.19        1
43.38        1
52.58        1
9.71         1
184.60       1
Name: revol_util, Length: 1356, dtype: int64

------------------------------------------------

column name: total_acc

------------------------------------------------

22.0     32259
20.0     32118
21.0     32009
19.0     31574
23.0     31315
         ...
121.0        1
119.0        1
156.0        1
150.0        1
108.0        1
Name: total_acc, Length: 135, dtype: int64

------------------------------------------------

column name: initial_list_status

------------------------------------------------

f    456848
w    430531
Name: initial_list_status, dtype: int64

------------------------------------------------

column name: out_prncp

------------------------------------------------

0.00        255798
10000.00      1178
15000.00       981
12000.00       949
20000.00       936
             ...
8946.13          1
12650.70         1
22147.59         1
28149.08         1
11155.50         1
Name: out_prncp, Length: 248332, dtype: int64

------------------------------------------------

column name: out_prncp_inv

------------------------------------------------

0.00        255798
10000.00      1157
15000.00       947
12000.00       914
20000.00       877
             ...
22341.06         1
4235.24          1
19648.48         1
5095.28          1
11155.50         1
Name: out_prncp_inv, Length: 266244, dtype: int64

------------------------------------------------

column name: total_pymnt

------------------------------------------------

0.000000        17759
648.570000        135
938.060000        134
623.860000        131
1566.460000       117
                ...