In [1]:
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn import model_selection
import numpy as np

# SQL TO PANDAS DATAFRAME

In [2]:
from sqlalchemy import create_engine

engine = create_engine("postgresql+psycopg2://Yuan:12345678@pgadmin.c4ari7frjjvy.us-east-2.rds.amazonaws.com:5432/final_project")

In [3]:
engine.table_names()

C:\Users\tusha\AppData\Local\Temp\ipykernel_21512\4162273999.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

['loan_data', 'education', 'industry', 'out', 'median_household_income']

In [4]:
df=pd.read_sql_table('loan_data', con=engine)
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,1077501,1296599,5000.0,5000.0,4975.0,36 months,10.65,162.87,B,B2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1077430,1314167,2500.0,2500.0,2500.0,60 months,15.27,59.83,C,C4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1077175,1313524,2400.0,2400.0,2400.0,36 months,15.96,84.33,C,C5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1076863,1277178,10000.0,10000.0,10000.0,36 months,13.49,339.31,C,C1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1075358,1311748,3000.0,3000.0,3000.0,60 months,12.69,67.79,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Data preprocessing

In [5]:
 df.dtypes

id                    int64
member_id             int64
loan_amnt           float64
funded_amnt         float64
funded_amnt_inv     float64
                     ...
all_util            float64
total_rev_hi_lim    float64
inq_fi              float64
total_cu_tl         float64
inq_last_12m        float64
Length: 74, dtype: object

In [ ]:
dups=[df]

In [ ]:
df.rename(columns = {'median_houes_inc':'Estimate!!Households!!Median income (dollars)'}, inplace = True)
df.head()

In [ ]:
df.annual_inc = df.annual_inc.fillna(0)
df.isnull().sum()

In [ ]:
df.drop(df.columns.difference(['loan_amnt','term','int_rate','installment','grade','emp_length','home_ownership',
                                         'annual_inc','verification_status','loan_status','purpose',]), 1, inplace=True)

In [ ]:
df.info()

In [ ]:
df.head()

In [ ]:
#
print(df['grade'].unique())

In [ ]:
#Creating a dictionary for unique values in the grade column
grades_value = {
 "A" : 6,
"B" : 5,
"C" : 4,
"D" : 3,
"E" : 2,
"F" : 1,
"G" : 0,
}

In [ ]:
gradeupd_df = df.copy()
#
gradeupd_df["grades_value"] = gradeupd_df["grade"].apply(lambda x: grades_value[x])
gradeupd_df.head()

In [ ]:
gradeupd_df = gradeupd_df.drop(["grade"], axis =1)
gradeupd_df.head()

In [ ]:
df.annual_inc = df.annual_inc.fillna(0)
df.isnull().sum()

In [ ]:
    
def SC_LabelEncoder1(text):
    if text == "< 1 year":
        return 1
    elif text == "1 year":
        return 2
    elif text == "2 years":
        return 3
    elif text == "3 years":
        return 4
    elif text == "4 years":
        return 5
    elif text == "5 years":
        return 6
    elif text == "6 years":
        return 7
    elif text == "7 years":
        return 8
    elif text == "8 years":
        return 9
    elif text == "9 years":
        return 10
    elif text == "10 years":
        return 11
    elif text == "10+ years":
        return 12
    else:
        return 0

def SC_LabelEncoder2(text):
    if text == "RENT":
        return 1
    elif text == "MORTGAGE":
        return 2
    elif text == "OWN":
        return 3
    else:
        return 0
    

gradeupd_df["emp_length"] = gradeupd_df["emp_length"].apply(SC_LabelEncoder1)
gradeupd_df["home_ownership"] = gradeupd_df["home_ownership"].apply(SC_LabelEncoder2)

In [ ]:
gradeupd_df.head()

In [ ]:
gradeupd_df.info()

# Create label Coloumn : Description about loan status
The label column will be having two values.The value 0 will be filled with the correct conditions:
'Fully Paid', 'Does not meet the credit policy. Status:Fully Paid','Current'
Meanwhile,
the value of 1 will be filled with incorrect conditions: 'Late (31-120 days)', 'Late (16-30 days)', 'In Grace Period', 'Charged Off', 'Default', 'Does not meet the credit policy. Status:Charged Off'

In [ ]:
label_categories = [
    (0, ['Fully Paid', 'Does not meet the credit policy. Status:Fully Paid', 'Current']),
    (1, ['Late (31-120 days)', 'Late (16-30 days)', 'In Grace Period', 
         'Charged Off', 'Default', 'Does not meet the credit policy. Status:Charged Off'])
]

In [ ]:
def classify_label(text):
    for category, matches in label_categories:
        if any(match in text for match in matches):
            return category
    return None

gradeupd_df.loc[:, 'label'] = gradeupd_df['loan_status'].apply(classify_label)
gradeupd_df = gradeupd_df.drop('loan_status', axis=1)

In [ ]:
gradeupd_df.head(15)
gradeupd_df.to_csv('out.csv')

In [ ]:
gradeupd_df['purpose'].unique()

In [ ]:
gradeupd_df.describe()

In [ ]:
gradeupd_df['loan_amnt']

In [ ]:
def SC_LabelEncoder4(text):
    if text == "credit_card":
        return 1
    elif text == "debt_consolidation":
        return 2
    elif text == "moving":
        return 3
    elif text == "home_improvement":
        return 4
    elif text == "major_purchase":
        return 5
    elif text == "car":
        return 6
    elif text == "medical":
        return 7
    elif text == "small_business":
        return 8
    elif text == "educational":
        return 9
    elif text == "house":
        return 10
    elif text == "vacation":
        return 11
    elif text == "wedding":
        return 12
    elif text == "renewable_energy":
        return 13
    else:
        return 0

In [ ]:
gradeupd_df["purpose"] = gradeupd_df["purpose"].apply(SC_LabelEncoder4)
gradeupd_df[['purpose','annual_inc']].head(20)

In [ ]:
gradeupd_df.info()

In [ ]:
def SC_LabelEncoder5(text):
    if text == "36 months":
        return 1
    elif text == "60 months":
        return 2
    else:
        return 0
gradeupd_df["term"] = gradeupd_df["term"].apply(SC_LabelEncoder5)
gradeupd_df["annual_inc"] = gradeupd_df["annual_inc"]/1000
gradeupd_df["loan_amnt"] = gradeupd_df["loan_amnt"]/1000
gradeupd_df

In [ ]:
# use LabelEncoder() to encode another category column:
for col in ["verification_status", "term"]:
    le = LabelEncoder()
    le.fit(gradeupd_df[col])
    gradeupd_df[col] = le.transform(gradeupd_df[col])
upd_df = gradeupd_df.drop("installment",axis='columns')
upd_df.head()

In [ ]:
upd_df.info()

In [ ]:
upd_df.label = upd_df.label.fillna(1)

In [ ]:
upd_df.info()

In [ ]:
upd_df.to_sql('out', con=engine, if_exists='replace', index=False, chunksize=1000)

# Initial EDA

CORRELATION BETWEEN EACH COLUMN

In [ ]:
corr = upd_df[['loan_amnt','int_rate', 'grades_value','home_ownership', 'annual_inc','label','emp_length']].corr()

In [ ]:
corr

In [ ]:
upd_df.describe()

In [ ]:
upd_df['label'].value_counts()

The initial EDA displays a relation between loan amt and annual incom

no linear relation obtained